<div class="w-full">
  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl">Tasks assigned to you</h1>
  </div>
  <%= render "filter_form" , project: nil%>
  <%= render "list", tasks: @tasks %>
</div>
