<nav class="flex justify-between items-center bg-gray-800 py-4 px-8">
  <div>
    <a href="#" class="text-white font-bold text-xl">ProjectManagement</a>
  </div>
  <div class="flex space-x-4">
    <a href="#" class="text-gray-400 hover:text-white">Home</a>
    <a href="#" class="text-gray-400 hover:text-white">Tasks</a>
    <% if current_user %>
      <%= link_to current_user.email, users_path, class: "text-gray-400 hover:text-white" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "text-gray-400 hover:text-white"%>
    <% end %>
  </div>
</nav>
