<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
  <div class="text-center">
    <h1 class="text-4xl font-extrabold text-accent2">Welcome to My Project</h1>
    <p class="mt-4 text-lg text-gray-600">A powerful project management tool for your team</p>
    <div class="mt-8">
      <%unless current_user %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn-primary px-8 py-3"%>
        <%= link_to "Log In", new_user_session_path, class:"btn-secondary ml-4 px-8 py-3" %>
      <% end %>
    </div>
  </div>
</div>
