<!--<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing project</h1>

  <%#= render "form", project: @project %>-->
<!---->
  <%#= link_to "Show this project", @project, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%#= link_to "Back to projects", projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<!--</div>-->

<%= turbo_frame_tag "modal" do %>
  <h3 class="text-2xl font-semibold text-primary mb-4" id="modal-header">Editing project</h3>
  <button data-action="modal#close" class="absolute top-0 right-0 flex items-center justify-center h-8 w-8 rounded-full focus:outline-none focus:bg-gray-600 hover:bg-gray-600" aria-label="Close modal">
    <%= inline_svg_tag 'close.svg', class: "h-7 w-7 text-gray-800" %>
  </button>
  <div class="mt-4 px-4 text-gray-700">
    <div id="modal-content">
      <%= render "form", project: @project %>
    </div>
  </div>
<% end %>